body {font-family: Times;
      width: 920px;
      background-color: #999;}

.capçelera {
            height: 300px;
            width: 75%;
            background-color: #CC9;
            text-align: center;
            float: left;}

.animació {
            height: 300px;
            width: 25%;
            background-color: #CC9;
            float: left;}

.animació img {height: 300px;
              width: 100%;}

.contingut {
            background-color: #999;}

.alumnos {
            width: 220px;
            height: 160px;
            background-color: #CCC;
            text-align: center;
            display: inline-block;
            margin: 2px;}

.peu {
      height: 40px;
      background-color: #CC9;}

#yo {
      background-color: #966}

a:link {color: black;}
a:visited {color: black;}
a {text-decoration: none;}
